*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
_windows/
objects/
refs/
HEAD
androidStudioFirstRun.xml
colors.scheme.xml
debugger.xml
editor.xml
github.xml
filetypes.xml
ide.general.xml
notifications.xml
visualizationTool.xml
*.pepk
*.jks
